<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <h1>Invalid request</h1>
      <div class="alert alert-danger">
        <strong>Error!</strong> <%= errorMessage %>
      </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
