<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>MovieStats</h1>
            <p>This template was created with EJS!</p>
            <h2>Search for Movie</h2>
            <form role="form" action="http://127.0.0.1:8080/crawlMovieData" method="GET">
              <div class="form-group">
                <label for="Start Index">Start Index:</label>
                <input type="text" class="form-control" name="startIndex"></input>
                <label for="Stop Index">Stop Index:</label>
                <input type="text" class="form-control" name="stopIndex"></input>
              </div>
              <button type="submit" class="btn btn-default">Start Crawl</button>
            </form>
            <br/>
            <form role="form" action="http://127.0.0.1:8080/findById" method="GET">
              <div class="form-group">
                <label for="imdbID">IMDB ID:</label>
                <input type="text" class="form-control" name="imdbId"></input>
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
        <% if (error.length > 0) {%>
          <div class="alert alert-danger">
            <strong>Error!</strong> <%= error %>
          </div>
        <% }; %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
